<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>量川科技开业邀请函</title>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0'/>
    @@include('../components/link.html')
</head>
<body>
<div class="page page-home">
    <header class="page-header"></header>
    <main class="page-body">
        <div class="container">
            111
        </div>
    </main>
</div>

@@include('../components/script.html')
</body>
</html>
