<footer class="layout-footer">
    <div class="wrap">
        <ul class="footer-nav">
            <li>
                <a href="tel:020-85655283">
                    <img class="ic ic-user" src="/static/img/icon-user.png">
                    <div class="text">${{ footer.service }}$</div>
                </a>
            </li>
            <li>
                <a href="./map.html">
                    <img class="ic ic-position" src="/static/img/icon-position.png">
                    <div class="text">${{ footer.map }}$</div>
                </a>
            </li>
        </ul>
    </div>
</footer>